*, html, body, header, footer {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.container {
    border: 2px solid;
    width: 100%;
}

.header_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper{
    display: flex;
    align-items: center;
}
.row{
    padding-right: 50px;
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
}

.contacts{
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 14px;
}

.contacts span{
    font-weight: 700;
    font-size: 16px;
}

.main_container{
    background: url("../img/main_bg.png") center center/auto no-repeat #35353580;
    padding-bottom: 121px;

}

.main_content{
    color: white;
    width: 60%;
    padding-top: 55px;
    padding-left: 80px;
}

h1{
    font-weight: 700;
    font-size: 40px;
}

.main_content p {
    padding-top: 12px;
    padding-bottom: 33px;
    font-size: 18px;
}

.main_input{
    width: 16vw;
    height: 5vh;
    text-align: center;
}

.main_phone_number{
    background: #FFFFFF;
    box-shadow: inset 2px 2px 6px rgba(90, 90, 90, 0.65);
}

.main_btn_callback{
    margin-left: 1vw;
    background: #D51522;
    box-shadow: 0 2px 8px rgba(65, 65, 65, 0.25);
    color: #FFFFFF;
    border-color: #D51522;
}

.news_container{
    padding-top: 45px;
    padding-bottom: 35px;
}

h2{
    text-align: center;
    font-weight: 700;
    font-size: 34px;
}

.news_blocks{

    display: flex;
    padding-top: 15px;
}

/*.news_slider{*/
/*    width: 8vw;*/
/*    padding-top: 15px;*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*}*/

.news_slider_wrapper{
    display: flex;
    justify-content: space-evenly;
    width: 8vw;
}
.news_block-row{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.news_block{
    padding-bottom: 15px;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    width: 25vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.news_block span{
    font-weight: 500;
    font-size: 18px;
}
