*, html, body, header, footer {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --indent: 145px;
    --news-block-width: 350px;
    --news-block-height: 240px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 100%;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper{
    display: flex;
    align-items: center;
}

.logo{
    margin-left: var(--indent);
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
}

li{
    list-style: none;
    text-align: center;
    margin-left: 30px;
}
.header_row{
    padding-right: 50px;
    padding-left: 20px;
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 16px;
}

.header_row p{
    margin-left: 7px;
}

.contacts{
    margin-right: var(--indent);
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 14px;
}

.contacts a{
    font-weight: 700;
    font-size: 16px;
}

.main{
    height: 65vh;
    background: url("../img/main.jpg") center center/cover no-repeat #35353580;
}
.main_container{
    padding-bottom: 121px;
    color: #35353580;
}

.main_content{
    color: white;
    width: 60%;
    padding-top: 110px;
    padding-left: var(--indent);
}

.main_content p{
    line-height: 24px;
}

h1{
    font-weight: 700;
    font-size: 40px;
}

.main_content p {
    width: 90%;
    padding-top: 30px;
    padding-bottom: 33px;
    font-size: 18px;
    
}

.input_wrapper{
    display: flex;
}

.main_input{
    /* width: 15vw;
    height: 7vh;
    text-align: center; */
    padding: 15px 25px;
    width:fit-content;
}

.main_phone_number{
    background: #FFFFFF;
    border: 0;
    box-shadow: inset 2px 2px 6px rgba(90, 90, 90, 0.65);
}

.main_btn_callback{
    margin-left: 1vw;
    background: #D51522;
    box-shadow: 0 2px 8px rgba(65, 65, 65, 0.25);
    color: #FFFFFF;
    border-color: #D51522;
}

.news_container{
    padding: 65px var(--indent) 55px var(--indent); 
    
}

h2{
    text-align: center;
    font-weight: 700;
    font-size: 34px;
}

.news_blocks{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}

.news_blocks_wrapper{
    width: 97%;
    display: flex;
    justify-content: space-between;
}

/*.news_slider{*/
/*    width: 8vw;*/
/*    padding-top: 15px;*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*}*/

.news_block-row{
    position: absolute;
    width: 85%;
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.news_block_wrapper{
    padding: 35px 27px;
    position: relative;
    margin-left: 25px;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    width: var(--news-block-width);
    height: var(--news-block-height);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #636363;
}

.news_block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 90%;
    background: #FFFFFF;
}

/* .btn_wrapper{
    padding-bottom: 34px;
    
}

.news_block{
    position: relative;
    padding: 35px 27px;
    margin-left: 25px;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    width: var(--news-block-width);
    height: var(--news-block-height);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #636363;
} */

.news_block span{
    /* margin-bottom: 100px; */
    font-weight: 600;
    font-size: 16px;
    color: #2B2B2B;
}

.news_left-rectangle-block{
    width: var(--news-block-width);
    height: var(--news-block-height);
    margin-top: 2vh;
    background-color: #D51522;
}

.news_right-rectangle-block{
    width: var(--news-block-width);
    height: var(--news-block-height);
    margin-top: 6vh;
    background-color: #6F61A0;
}

.first{
    margin-left: 2vw;
}

.third{
    margin-right: 2vw;
}

.news_btn-more{
    width: 60%;
    margin-top: 10vh;
    padding: 12px;
    color: #D51522;
    border: 1px solid #D51522;
    background: #FFFFFF;
    filter: drop-shadow(0px 2px 8px rgba(65, 65, 65, 0.25));
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}

.news_slider_wrapper{
    margin: 0 auto;
    padding-top: 3vh;
    display: flex;
    justify-content: space-evenly;
    width: 7vw;
}

.input_news_slider {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #CACACA;

}

.left_radio_button{
    background: #D51522;
}

footer{
    height: 25vh;
    color: #FFFFFF;
    background: #211F2B;

}

.footer_container{
    height: 25vh;
    padding-right: 5vw;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.footer_row{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}